/* Codecademy Project - Colmar Academy by Ziemowit Kaczmarski */

html {
  background-color: #eef6f7;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  color: #020201;
}

body {
  margin: 0 auto;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.75rem;
  font-weight: 800;
  margin: 0rem;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 2.25rem;
  font-weight: bold;
}

h3 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.375rem;
  font-weight: 800;
}

a {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  color: #e3621a;
}

img {
  width: 100%;
  height: auto;
}

p {
  line-height: 1.5rem;
  font-family: Georgia, serif;
}

/* Header */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  height: 4rem;
}

.top-nav {
  margin: 0rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: inline-flex;
  align-items: center;
}

.logo-icon {
  margin: 0rem 0rem 0rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-typo {
  display: flex;
  justify-content: center;
  align-items: center;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

nav a {
  margin: 0rem 0.5rem;
  color: #020201;
  text-decoration: none;
  text-transform: none;
  transition: 100ms ease-in-out;
}

nav a:hover {
  color: gold;
}

/* MAIN CONTENT */

/* Hero section */


.section-hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.section-hero-container {
  margin: 1.5rem 0rem 1.5rem 1.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.hero-image img {
  width: 100%;
  height: auto;
}

.section-hero-description {
  margin: 1.5rem 0rem 1.5rem 1.5rem;
  width: 40%;
}

.section-hero-description p {
  line-height: 1.5rem;
}

.section-hero-description h2 {
  margin-bottom: 0;
}

button {
  height: 2.75rem;
  width: 15rem;
  background-color: #4b92ee;
  color: white;
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 1.25rem;
  letter-spacing: 0.0625rem;
  margin: 2.5rem 0rem;
  padding: 0.5rem 0rem;
  border: none;
  border-radius: 3px;
}

button:hover {
  background-color: #2b78cc;
  cursor: pointer;
}

/* Information section */

.section-information,
.section-information-thesis {
  background-color: white;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-information h3 {
  margin: 0rem;
}

.section-information-container {
  margin: 2rem 0rem 2rem 1.5rem;
  width: 100%;
  display: flex;
}

.left-column {
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-column {
  width: 40%;
  margin-left: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-image-information {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.hero-image-information img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.section-information-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.section-information-description p,
.section-information-description h3 {
  margin: 0rem;
}

.mobile-image {
  display: none;
}

    /* News section */

  .news-section {
    width: 100%;
  }

  .news-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    border-top: 1px solid #e6e7e8;

  }

  .news-card:last-child {
    background-color: #eef6f7;
    border-bottom: 1px solid #e6e7e8;

  }

  .news-card p,
  .news-card h3,
  .news-card a {
    margin: 0.5rem;
  }

  .news-picture {
    width: 35%;
  }

  .news-title {
    width: 65%;
  }

  .read-more {
    text-decoration: none;
    transition: 300ms;
  }

  .read-more:hover {
    color: #4b92ee;
  }

/* Courses section */

.section-courses {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0rem 6rem;
}

.grid-courses {
  display: grid;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  grid-template-columns: 31% 31% 31%;
  grid-gap: 32px;
  color: #444;
}

.course {
  background-color: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.course p {
  word-break: normal;
  width: 100%;
  margin: 0px 0px;
}

.course img {
  width: 100%;
}

.course h3 {
  margin: 1rem 0rem 0rem 0rem;
}

.course-picture {
  margin: 0rem;
}

.course-description {
  padding: 0rem 1rem 1.5rem 1rem;
}

.section-courses-container {
  width: 100%;
  margin: 0px 56px 32px 56px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.section-title {
  text-align: center;
  margin: 32px 0px;
}

.courses-section {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

.course-card {
  width: 30%;
  height: auto;
  margin: 1rem;
  background-color: white;
}

.course-card-title {
  padding: 1rem 1rem 1.5rem 1rem;
}

.course-card-title p {
  text-transform: capitalize;
}

.courses-section-mobile {
  width: auto;
  margin: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  display: none;
}

.courses-section-mobile a {
  color: black;
  font-size: 1.25rem;
  font-weight: 800;
  text-decoration: none;
}

.course-card-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4.5rem;
  width: 100%;
  margin: 0.5rem 4rem;
  background-color: #e6e7e8;
}

.course-card-mobile:hover {
  background-color: #4b92ee;
  color: white;
}

/* Video section */

.section-video {
  display: flex;
  justify-content: flex-start;
}

.section-video-container {
  margin: 32px 0px 32px 24px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.section-video-title {
  text-align: center;
  margin: 32px 0px;
}

.column-section {
  width: 100%;
}

video {
  width: 100%;
  height: auto;
}

.mobile-hero-video {
  display: none;
  padding: 0rem;
  margin: 0rem;
}

.mobile-hero-video video {
  width: 100%;
  height: auto;
  margin: 0rem;
}

/* Footer */


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0rem 1.8rem;
}

footer ul li {
  display: inline;
}

footer a {
    margin: 0rem 0.5rem;
    color: #020201;
    text-decoration: none;
    text-transform: none;
    transition: 300ms ease-in;
}

footer a:hover {
    color: #4b92ee;
}


/* Mobile */

.top-nav-mobile {
  display: none;
}

/* Media queries */

@media only screen
and (max-width: 630px) {

html {
  font-size: calc(22px + 6 * ((100vw - 644px) / 1100));
}

body {

}

.top-nav {
  display: none;
  margin: 0rem;
}

.top-nav-mobile {
  display: inline;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  width: 100%;
  height: 64px;
  background-color: white;
}

.top-nav-mobile nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.mobile-nav-icon {
  height: 2rem;
  width: 2rem;
  margin: 0;
}

.logo {
  display: none;
}

.section-hero-container {
  flex-direction: column;
  margin: 1rem;
}

.section-hero-description {
  width: 100%;
}

br {
  display: none;
}

.section-information-container {
  margin: 2rem 1rem 2rem 1rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  width: 100%;
  margin-left: -0.75rem;
}

.left-column {
  width: 100%;
}

.right-column {
  width: 100%;
  margin-left: 0rem;
}

.hero-image-information {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.hero-image-information img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.hero-image {
  margin: 0rem;
  width: 100%;
}

.section-information-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
}

.news-card {
  padding: 0rem;
}

.mobile-image {
  display: inline;
  width: 100%;
}

.desktop-image {
  display: none;
}

.news-picture {
  width: 100%;
}

.news-card {
border-left: none;
flex-direction: column;
}

.news-card:last-child {
  background-color: white;
  border-bottom: none;
}

.news-title {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 4rem;
}

.hero-image-information,
.section-information-description {
display: none;
}

.courses-section-mobile,
.course-card-mobile {
  display: flex;
  flex-direction: column;
}


.section-courses {
  display: none;
}

.grid-courses {
  display: none;
}

.section-information-thesis,
.section-information-thesis .right-column {
  display: none;
}

.mobile-hero-video {
  display: inline;
  background-color: none;
  width: 100%;
}

footer {
  position: bottom;
  font-size: 0.75rem;
}

footer ul {
  display: none;
}

}
